.titel {
    text-align: center;
}

.members {
    text-align: right; 
}
.a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
.a:visited {
    color: violet;
    background-color: transparent;
    text-decoration: none;
}
.groepsleden {
   border-style:  outset; 
   border-color: red;
   text-align: center;
   border-width: 4px 4px 4px 4px;
   margin:0 200px 0 200px;
   background-color: rgb(65, 214, 225);
}
.trbl { 
    border: 10px outset yellow;
    text-align: center;
    border-width: 4px 4px 4px 4px;
    margin:0 200px 0 200px;
    background-color: rgb(214, 136, 188);
}
#list {color: teal;
}
#list1{ font-family: Arial;
}
#list2 { font-size: 20px;
}
#list3 {display: inline;
}
#list4 {border: dotted;
}
#list5{text-align: center;
}
